* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

:root{
    --primary-color: #1875E8;
    --secondary-color: #FFFFFF ;
    --disabled-color: #898989;
    --font-inter:  'Inter', sans-serif;
    --font-h1: 'Chakra Petch', sans-serif;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("./code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid var(--primary-color);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("Ruido.png");
    background-size: 100% 100%;
    position: relative;
}


.container__contenido {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: var(--primary-color);
    padding: 16px 24px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__boton:disabled {
    background: var(--disabled-color);
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: var(--primary-color);
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-inter);
}

.container__botones {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: var(--font-h1);
    font-size: 4.5rem;
    padding-bottom: 3rem;
}

p,
button {
    font-family: var(--font-inter);
}

.texto__parrafo {
    font-size: 2rem;
    font-weight: 400;
}


 /* Media query para tablets */
 @media only screen and (min-width: 600px) and (max-width: 1024px) {

    .container {
        margin: 12%;
        margin-top: 20%;
        margin-bottom: 20%;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container__contenido{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .container__texto {
        margin: 10px 0 50px 0;
    }

    .container__imagen-persona{
        display: none;
    }

    .container__botones {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 10px;
    }

    .container__boton{
        margin: 5px; 
    }
       
}


 /* Media query para smartphones */
 @media only screen and (min-width: 320px) and (max-width: 599px) {

    .container {
        margin: 6%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    .container__contenido{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container__texto {
        margin: 20px 0 20px 0;
        text-align: center;
    }

    .container__imagen-persona{
        display: none;
    }

        
    .container__input {
        width: 100%;
        height: 5%;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .container__botones {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        gap: 5px;
    }

    .container__boton{
        margin: 2.5px;
        font-size: 1rem; 
    }

    h1{
      font-size: 3.5rem;  
    }

    .texto__parrafo{
        font-size: 1.5rem;
    }

 }